<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('dashboard') }}" style="padding:10px;">Food Demand Forecasting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="text-align:center;">
        <span class="name-user" style="color:white;font-size:20px;margin-left:500px">Welcome, {{ name }}</span>
            </ul>
        </div>
        <span class="name-user" style="padding-right:20px;"><a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a></span>
    </nav>

    <div class="container-fluid my-3">
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Total Customers</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">20</h3>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Total Orders</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">10</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Orders Delivered</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">7</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Orders Pending</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">0</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Out for Delivery</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">6</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="col-md">
                    <div style="background-color: #E9EDC9;" class="card text-center text-black  mb-3">
                        <div class="card-header">
                            <h5 class="card-title">Cancelled</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">5</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-5">
                <h5>CUSTOMERS:</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" href="{{ url_for('create_customer') }}">Create
                        Customer</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Order details</th>
                            <th>Customer</th>
                            <th>Phone</th>
                        </tr>
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="#">View</a></td>
                            <td>Nikunj</td>
                            <td>123456</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-md-7">
                <h5>LAST ORDERS</h5>
                <hr>
                <div class="card card-body">
                    <a class="btn btn-primary  btn-sm btn-block" href="{{ url_for('create_product') }}">Create
                        Product</a>
                    <table class="table table-sm">
                        <tr>
                            <th>Product</th>
                            <th>Date Orderd</th>
                            <th>Status</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                        <tr>
                            <td>Dosa</td>
                            <td>1 Jun</td>
                            <td>Pending...</td>
                            <td><a class="btn btn-sm btn-success" href="#">Update</a>
                            </td>
                            <td><a class="btn btn-sm btn-danger" href="#">Delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>

</html>